<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="mmex_db" connectionString="Data Source=D:\Dropbox\Projects\myBank\db\Original.mmb;" providerName="System.Data.SQLite"/>-->
    <add name="mmex_db" connectionString="Data Source=./Test.mmb;" providerName="Mono.Data.SQLite"/>
  </connectionStrings>
  <appSettings>
    <add key="log4net" value="./log4net.config"></add>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
