<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>OfxToMmex - Config</title>
	</head>

	<body>
    <form name="add-event" method="post" action="/Config">
      <label>Mmex Database location: </label>
      <input type="text" name="mmex_db" size="80" value="@Model.mmex_db" />
      <br/>
      <label>Rootpath to monitor: </label>
      <input type="text" name="Rootpath" size="80" value="@Model.Rootpath" />
      <br/>
      <label>log4net configuration file: </label>
      <input type="text" name="log4net" size="80" value="@Model.log4net" />
      <br/>
      <input type="submit" value="update"/>
    </form>
  </body>
	</html>
