<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>OfxToMmex - Payee Regex</title>
  </head>
	<body>
	
  @Each
    <form name="add-event" method="post" action="/PayeeRegex/update">
      <input type="hidden" name="ID" value="@Current.ID" />
      <label>Regex: </label>
      <input type="text" name="Regex" value="@Current.Regex" />
      <br/>
      <label>Group Index: </label>
      <input type="text" name="GroupIndex" value="@Current.GroupIndex" />
      <br/>
      <label>Active: </label>
      <input type="checkbox" name="Active" value="@Current.Active" />
      <br/>
      <input type="submit" value="update"/>
    </form>
	@EndEach

    <table border="1">
    <tr>
      <th>Regex</th>
      <th>Group Index</th>
      <th>active</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    @Each
    <tr>
      <td>@Current.Regex</td>
      <td>@Current.GroupIndex</td>
      <td>@Current.Active</td>
      <td>
        <a href="/PayeeRegex/@Current.ID">edit</a>
      </td>
      <td>
        <a href="/PayeeRegex/delete/@Current.ID">delete</a>
      </td>
    </tr>
    @EndEach
  </table>
	</body>
</html>